

.main-page-row-area {
    margin-left: 2em;
}

/* .main-area-2 {
    margin-left: 8em;
} */


/* .main-area{
    display:grid ;
} */


.video-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}