

.main-page-row-area {
    margin-left: 2em;
}

/* .main-area-2 {
    margin-left: 8em;
} */


/* .main-area{
    display:grid ;
} */


.video-area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}


/* @media only screen and (max-width: 1100px) {
    .navbar-fixed-right{
        display:none;
    }
   
  } */

  @media only screen and (max-width: 992px) {
    .side-navbar-area{
        display:none !important;
    }

    .navbar-fixed-right{
        display:none;
    }
   
  }


  @media only screen and (max-width: 768px) {
    .mycourse-grid-area {
        grid-template-columns: 1fr;
    }
   
  }